@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

body {
    background-color: #ede6d9; 
    color: #342519; 
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: 'Sniglet';
}

h3 {
    font-size: 24px;
    font-family: 'Sniglet';
}

p {
    font-size: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.button {
    background-color: #ede6d9;
    color: #342519;
    border-color:#342519;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #342519;
    border-radius: 20px;
    padding: 10px 20px;
    width: min(80%, 200px);
}

.button:hover {
    background-color: #342519;
    color: #ede6d9;
    transform: scale(1.05);
}

::selection {
    background-color: #342519;
    color: #ede6d9;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: #342519 #ede6d9;
    scrollbar-width: auto;
}